In [22]:
import pandas as pd

employee_data = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'Dana'],
    'Age': [25, 30, 28, 35],
    'Gender': ['Female', 'Male', 'Male', 'Female'],
    'City': ['New York', 'London', 'Paris', 'Berlin']
})
print(employee_data)

   ID     Name  Age  Gender      City
0   1    Alice   25  Female  New York
1   2      Bob   30    Male    London
2   3  Charlie   28    Male     Paris
3   4     Dana   35  Female    Berlin

In [23]:
unique_cities = employee_data['City'].unique()
num_unique_cities = len(unique_cities)
print(f"a) There are {num_unique_cities} unique cities represented in this table.")

a) There are 4 unique cities represented in this table.

In [24]:
average_age = employee_data['Age'].mean()
print(f"b) The average age of the individuals in the table is {average_age:.2f}.")

b) The average age of the individuals in the table is 29.50.

In [28]:
num_males = employee_data[employee_data['Gender'] == 'Male'].shape[0]
num_females = employee_data[employee_data['Gender'] == 'Female'].shape[0]
print(f"c) There are {num_males} males and {num_females} females in the table.")

c) There are 2 males and 2 females in the table.

In [29]:
oldest_person = employee_data.loc[employee_data['Age'].idxmax(), 'Name']
print(f"d) The oldest person in the table is {oldest_person}.")

d) The oldest person in the table is Dana.

In [32]:
city_counts = employee_data['City'].value_counts()
most_populated_city = city_counts.idxmax()
print(f"e) The city with the highest number of individuals is {most_populated_city}.")

e) The city with the highest number of individuals is New York.