In [87]:
class Employee:
    def __init__(self, name, employee_id):
        self.name = name
        self.employee_id = employee_id

    def calculate_salary(self, hours_worked, hourly_rate):
        salary = hours_worked * hourly_rate
        return salary

    def display_details(self):
        print("Employee Details:")
        print("Name:", self.name)
        print("Employee ID:", self.employee_id)

In [88]:
employee1 = Employee("Prem Sharma", "2315510150")
employee2 = Employee("Tony Stark", "2315510151")

In [89]:
hourly_rate = 500

In [90]:
hours_worked_employee1 = 40
hours_worked_employee2 = 30

In [91]:
salary_employee1 = employee1.calculate_salary(hours_worked_employee1, hourly_rate)
salary_employee2 = employee2.calculate_salary(hours_worked_employee2, hourly_rate)

In [92]:
employee1.display_details()
print("Salary:", salary_employee1,'rupee')
print("--------------------")
employee2.display_details()
print("Salary:", salary_employee2,'rupee')

Employee Details:
Name: Prem Sharma
Employee ID: 2315510150
Salary: 20000 rupee
--------------------
Employee Details:
Name: Tony Stark
Employee ID: 2315510151
Salary: 15000 rupee